@import url('https://fonts.googleapis.com/css2?family=Alata&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/swiper-bundle.css';

body{
  font-family: "Alata", sans-serif;
  background-color: #4d4d4d;
  color: #fff;
  font-size: 18px;
}
